@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  
}

.headerContainer {
  position: relative;
}

.headerBg {
  position: relative;
  height: 40vh;
  width: 100%;
  z-index: -1;
}

.copyrightimg1 {
  position: absolute;
  left: 45%;
  width: 8%;
  height: 15vh;
  margin: 0%;
  top: 5%;
}

.heading {
  position: relative;
  text-align: center;
  font-family: "Bai Jamjuree";
  font-weight: 600;
  color: #4e5358;
  font-size: 2.5em;
}

.h3Heading1 {
  position: relative;
  text-align: center;
  font-family: "Bai Jamjuree";
  font-weight: 400;
  margin-top: 1%;
  color: #b7babb;
}

.h3Heading2 {
  position: relative;
  text-align: center;
  font-family: "Bai Jamjuree";
  font-weight: 400;
  margin-top: 0.5%;
  color: #b7babb;
}

.btnContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  margin-top: 3%;
  gap: 2%;
}

.btnIos {
  font-family: "Bai Jamjuree";
  font-weight: 400;
  color: #ffffff;
  padding: 5px 5px;
  background-color: #28baa5;
  border: none;
  width: 10%;
  height: 6vh;
  border-radius: 18px;
  cursor: pointer;
}

.btnMac {
  font-family: "Bai Jamjuree";
  font-weight: 400;
  color: #ffffff;
  padding: 5px 5px;
  background-color: #6471e5;
  border: none;
  width: 10%;
  height: 6vh;
  border-radius: 18px;
  cursor: pointer;
}

.secondHeading {
  position: relative;
  margin-top: 8%;
  text-align: center;
}

.secondHeadingh1 {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  color: #4e5358;
  font-size: 2em;
}

.secondHeadingh3One {
  position: relative;
  text-align: center;
  font-family: "Bai Jamjuree";
  font-weight: 400;
  margin-top: 2%;
  color: #b7babb;
}

.secondHeadingh3Two {
  position: relative;
  text-align: center;
  font-family: "Bai Jamjuree";
  font-weight: 400;
  margin-top: 0.5%;
  color: #b7babb;
}

.secondHeadingh3Three {
  position: relative;
  text-align: center;
  font-family: "Bai Jamjuree";
  font-weight: 400;
  margin-top: 0.5%;
  color: #b7babb;
}

.secondHeadingMedia {
  display: none;
}

.computerContainer {
  position: relative;
  display: flex;
  margin-top: 6%;
}

.computerImg {
  position: relative;
  left: -3%;
  width: 55%;
  height: 78vh;
}

.quickSearch {
  position: relative;
  left: 8.2%;
  top: 5%;
  font-family: "Bai Jamjuree";
  font-weight: 600;
  font-size: 1.2em;
  white-space: nowrap;
}

.quickSearchPara {
  position: relative;
  margin-top: 10.2%;
  font-family: "Bai Jamjuree";
  font-weight: 600;
  font-size: 1em;
  color: #b7babb;
  left: 8%;
}

.icloud {
  position: relative;
  font-family: "Bai Jamjuree";
  font-weight: 600;
  font-size: 1.2em;
  white-space: nowrap;
  left: 8%;
  top: 15%;
}

.icloudPara {
  position: relative;
  margin-top: 25.2%;
  font-family: "Bai Jamjuree";
  font-weight: 600;
  font-size: 1em;
  color: #b7babb;
  left: 8%;
}

.completeHis {
  position: relative;
  font-family: "Bai Jamjuree";
  font-weight: 600;
  font-size: 1.2em;
  white-space: nowrap;
  left: 8%;
  top: 14%;
}

.completHisPara {
  position: relative;
  margin-top: 23.2%;
  font-family: "Bai Jamjuree";
  font-weight: 600;
  font-size: 1em;
  color: #b7babb;
  left: 8%;
}

.acAnywhereContainer {
  position: relative;
  margin-top: 5%;
  text-align: center;
}

.acaheading {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  color: #4e5358;
  font-size: 2em;
}

.acaPara {
  position: relative;
  text-align: center;
  font-family: "Bai Jamjuree";
  font-weight: 400;
  margin-top: 1%;
  color: #b7babb;
}

.acaPara1 {
  position: relative;
  text-align: center;
  font-family: "Bai Jamjuree";
  font-weight: 400;
  color: #b7babb;
  margin-top: 0.3%;
}

.clipBoardImgContainer {
  position: relative;
  margin-top: 5%;
  align-items: center;
}

.devImg {
  position: relative;
  width: 62%;
  height: 70vh;
  left: 20%;
}

.superChargeContainer {
  position: relative;
  margin-top: 3%;
  text-align: center;
}

.superChargeHeading {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  color: #4e5358;
  font-size: 2em;
}

.superChargePara {
  position: relative;
  text-align: center;
  font-family: "Bai Jamjuree";
  font-weight: 400;
  margin-top: 1%;
  color: #b7babb;
}

.iconContainer {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 8%;
  gap: 25%;
}

.iconHeading {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 2%;
  gap: 13.8%;
  font-weight: 600;
  color: #4e5358;
  font-family: "Bai Jamjuree";
}

.iconParaContainer {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 1%;
  gap: 3%;
  font-weight: 600;
  color: #b7babb;
  font-family: "Bai Jamjuree";
  flex-wrap: wrap;
  left: 1%;
  text-align: center;
}

.companyIcons {
  display: flex;
  position: relative;
  margin-top: 8%;
  gap: 10%;
  justify-content: center;
  width: auto;
  height: 5vh;
}

.secondClipBoardContainer {
  position: relative;
  margin-top: 8%;
  text-align: center;
}

.secondClipboardHeading {
  font-family: "Bai Jamjuree";
  font-weight: 600;
  color: #4e5358;
  font-size: 1.5em;
}

.secondClipboardPara {
  position: relative;
  text-align: center;
  font-family: "Bai Jamjuree";
  font-weight: 400;
  margin-top: 1%;
  color: #b7babb;
}

.clipIosBtn {
  font-family: "Bai Jamjuree";
  font-weight: 400;
  color: #ffffff;
  padding: 5px 5px;
  background-color: #28baa5;
  border: none;
  width: 10%;
  height: 6vh;
  border-radius: 18px;
  cursor: pointer;
  position: relative;
  margin-top: 3%;
}

.clipMacBtn {
  font-family: "Bai Jamjuree";
  font-weight: 400;
  color: #ffffff;
  padding: 5px 5px;
  background-color: #6471e5;
  border: none;
  width: 10%;
  height: 6vh;
  border-radius: 18px;
  cursor: pointer;
  margin-left: 2%;
}

.foterContainer {
  position: relative;
  display: flex;
  margin-top: 10%;
  width: 100%;
  height: 28vh;
  background-color: #eaebed;
}

.foterCopyrightImg {
  position: relative;
  width: 5%;
  height: 9vh;
  top: 35%;
  left: 8%;
}

.listContainer {
  position: relative;
  display: flex;
  left: 20%;
  align-items: center;
}

.list {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 20%;
  list-style-type: none;
  flex-wrap: wrap;
  font-family: "Bai Jamjuree";
  font-weight: 400;
  color: #4e5358;
  font-size: 1.3em;
  cursor: pointer;
}

.list li:hover {
  color: #28baa5;
}

.listLast {
  position: relative;
  margin-top: 5%;
}

.listLastOne {
  position: relative;
  margin-left: -7%;
}

.iconMediaContainer {
  display: flex;
  position: relative;
  align-items: center;
  left: 35%;
  gap: 20px;
  cursor: pointer;
}

.quickCloudMedia {
  display: none;
}

.acParaMedia {
  display: none;
}

.blacklistHeadingMedia,
.snippetsHeadingMedia,
.previewHeadingMedia {
  display: none;
}

.blacklistParaMedia,
.snippetsParaMedia,
.previewParaMedia {
  display: none;
}

.secondClipboardParaMedia {
  display: none;
}

.headingMedia {
  display: none;
}

@media screen and (max-width: 420px) {
  .headerBg {
    height: 35vh;
    width: 135%;
    z-index: -1;
  }

  .copyrightimg1 {
    position: absolute;
    left: 52%;
    width: 30%;
    height: 15vh;
    top: 2%;
  }

  .heading {
    position: relative;
    left: 16%;
    font-size: 2.3em;
    margin-top: 18%;
  }

  .headingMedia {
    display: block;
    text-align: center;
    font-family: "Bai Jamjuree";
    font-weight: 400;
    margin-top: 5%;
    color: #b7babb;
    font-size: 1.5em;
    position: relative;
    left: 16%;
  }

  .h3Heading1 {
    display: none;
  }

  .h3Heading2 {
    display: none;
  }

  .btnContainer {
    flex-direction: column;
    margin-top: 12%;
    align-items: center;
  }

  .btnIos {
    margin-left: 34%;
    font-size: 1.5em;
    border: none;
    width: 90%;
    height: 10vh;
    border-radius: 28px;
    box-shadow: 5px 5px;
  }

  .btnMac {
    margin-left: 34%;
    font-size: 1.5em;
    border: none;
    width: 90%;
    height: 10vh;
    border-radius: 28px;
    margin-top: 7%;
  }

  .secondHeading {
    margin-top: 20%;
    left: 17%;
  }

  .secondHeadingh1 {
    font-size: 2.5em;
  }

  .secondHeadingh3One {
    display: none;
  }

  .secondHeadingh3Two {
    display: none;
  }

  .secondHeadingh3Three {
    display: none;
  }

  .secondHeadingMedia {
    display: block;
    text-align: center;
    font-family: "Bai Jamjuree";
    font-weight: 400;
    margin-top: 5%;
    color: #b7babb;
    font-size: 1.5em;
  }

  .computerContainer {
    position: relative;
    display: flex;
    margin-top: 6%;
  }

  .computerImg {
    position: relative;
    left: 25%;
    width: 80%;
    height: 38vh;
    margin-top: 15%;
  }

  .quickSearch {
    display: none;
  }

  .quickSearchPara {
    display: none;
  }

  .icloud {
    display: none;
  }

  .icloudPara {
    display: none;
  }

  .completeHis {
    display: none;
  }

  .completHisPara {
    display: none;
  }

  .quickCloudMedia {
    display: block;
  }

  .quickSearchMedia {
    position: relative;
    left: 14.2%;
    margin-top: 12%;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    font-size: 2.3em;
    white-space: nowrap;
    color: #4e5358;
    text-align: center;
  }

  .quickSearchParaMedia {
    position: relative;
    margin-top: 2%;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    font-size: 1.5em;
    color: #b7babb;
    left: 15%;
    text-align: center;
  }

  .icloudMedia {
    position: relative;
    left: 14.2%;
    margin-top: 15%;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    font-size: 2.3em;
    white-space: nowrap;
    color: #4e5358;
    text-align: center;
  }

  .icloudParaMedia {
    position: relative;
    margin-top: 2%;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    font-size: 1.5em;
    color: #b7babb;
    left: 15%;
    text-align: center;
  }

  .completeHisMedia {
    position: relative;
    left: 14.2%;
    margin-top: 15%;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    font-size: 2.3em;
    white-space: nowrap;
    color: #4e5358;
    text-align: center;
  }

  .completHisParaMedia {
    position: relative;
    margin-top: 2%;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    font-size: 1.5em;
    color: #b7babb;
    left: 15%;
    text-align: center;
  }

  .acAnywhereContainer {
    position: relative;
    margin-top: 25%;
    text-align: center;
    left: 16%;
  }

  .acaheading {
    font-family: "Bai Jamjuree";
    font-weight: 600;
    color: #4e5358;
    font-size: 2.3em;
  }

  .acaPara {
    display: none;
  }

  .acaPara1 {
    display: none;
  }

  .acParaMedia {
    display: block;
    position: relative;
    margin-top: 3%;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    font-size: 1.4em;
    color: #b7babb;
    text-align: center;
  }

  .clipBoardImgContainer {
    position: relative;
    margin-top: 15%;
    align-items: center;
  }

  .devImg {
    position: relative;
    width: 100%;
    height: 38vh;
    left: 16%;
  }

  .superChargeContainer {
    margin-top: 20%;
    left: 20%;
  }

  .superChargeHeading {
    font-family: "Bai Jamjuree";
    font-weight: 600;
    color: #4e5358;
    font-size: 2.2em;
  }

  .superChargePara {
    position: relative;
    text-align: center;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    margin-top: 3%;
    color: #b7babb;
    font-size: 1.5em;
  }

  .iconContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-top: 8%;
    align-items: center;
    left: 16%;
  }

  .mediaIcon1,
  .mediaIcon2,
  .mediaIcon3 {
    margin-top: 25%;
  }

  .blacklistHeadingMedia,
  .snippetsHeadingMedia,
  .previewHeadingMedia {
    display: block;
    position: relative;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    color: #4e5358;
    font-size: 2.3em;
    margin-top: 10%;
  }

  .blacklistParaMedia,
  .snippetsParaMedia,
  .previewParaMedia {
    position: relative;
    display: block;
    text-align: center;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    margin-top: 3%;
    color: #b7babb;
    font-size: 1.5em;
  }

  .iconHeading {
    display: none;
  }

  .iconParaContainer {
    display: none;
  }

  .companyIcons {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 95%;
    gap: 100%;
    justify-content: center;
    width: 45%;
    height: 15vh;
    align-items: center;
    left: 43%;
  }

  .secondClipBoardContainer {
    position: relative;
    margin-top: 90%;
    text-align: center;
    left: 15%;
  }

  .secondClipboardHeading {
    font-size: 2.3em;
  }

  .secondClipboardPara {
    display: none;
  }

  .secondClipboardParaMedia {
    position: relative;
    display: block;
    text-align: center;
    font-family: "Bai Jamjuree";
    font-weight: 600;
    margin-top: 3%;
    color: #b7babb;
    font-size: 1.5em;
  }

  .clipIosBtn {
    font-family: "Bai Jamjuree";
    font-weight: 400;
    color: #ffffff;
    padding: 5px 5px;
    background-color: #28baa5;
    border: none;
    width: 90%;
    height: 10vh;
    border-radius: 28px;
    cursor: pointer;
    position: relative;
    margin-top: 10%;
    font-size: 1.5em;
  }

  .clipMacBtn {
    font-family: "Bai Jamjuree";
    font-weight: 400;
    color: #ffffff;
    padding: 5px 5px;
    background-color: #6471e5;
    border: none;
    width: 90%;
    height: 10vh;
    border-radius: 28px;
    cursor: pointer;
    margin-left: 2%;
    font-size: 1.5em;
    margin-top: 10%;
  }

  .foterContainer {
    position: relative;
    flex-direction: column;
    margin-top: 30%;
    width: 135%;
    height: 85vh;
    background-color: #eaebed;
    overflow-x: hidden;
  }

  .list {
    flex-direction: column;
    align-items: center;
    top: 21%;
    left: 20%;
   
  }

  .iconMediaContainer {
    left: 35%;
    gap: 58px;
    top: 20%;
  }

  .listLast {
    position: relative;
    margin-top: 25%;
  }

  .listLastMedia {
    position: relative;
    margin-top: 25%;
    display: block;
  }

  .listLastOne {
    margin-left: 0%;
  }

  .foterCopyrightImg {
    width: 12%;
    height: 7%;
    top: 15%;
    left: 48%;
  } 
}
